<main class="main">
    <h1>Buscador de series de Anime</h1>
    <section>
        <form action="">
            <label for="search"></label>
            <input type="text" id="search" name="search" class="js_searchInput" placeholder="Ej: Dragon Ball">
            <button class="js_searchButton">Buscar</button>
            <button class="js_resetButton">Reset</button>
        </form>
    </section>
    <section>
        <h2>Resultados</h2>
        <ul class="js_resultUl"></ul>
    </section>
    <section>
        <h2>Series Favoritas</h2>
        <ul class="js_favouritetUl"></ul>
    </section>
</main>