<main class="main">
    <h1>Buscador de series de Anime</h1>
    <section>
        <form action="">
            <label for="search"></label>
            <input type="text" id="search" name="search" placeholder="Ej: Dragon Ball" required>
            <button>Buscar</button>
            <button>Reset</button>
        </form>
    </section>
    <section>
        <h2>Resultados</h2>
        <ul>
            <li></li>
        </ul>
    </section>
    <section>
        <h2>Series Favoritas</h2>
        <ul>
            <li></li>
        </ul>
    </section>
</main>